/* All pages */
/* Header */
header {
  background-color: #96efff;
  height: 4rem;
  display: flex;
}
div.shape-wrapper {
  width: 30%;
  height: 8rem;
  position: relative;
  z-index: 10000;
}

div.trapezium {
  width: 100%;
  height: 100%;
  clip-path: polygon(0 0, 56% 0, 89% 100%, 0% 100%);
  background-color: #030637;
  display: flex;
  align-items: center;
}

div.trapezium img {
  width: 80%;
  height: 70%;
}

div.line {
  clip-path: polygon(51% 0, 56% 0, 89% 100%, 84% 100%);
  position: absolute;
  top: 0;
  left: 12%;
  background-color: #030637;
}

div.shape-wrapper-rotate {
  width: 20%;
  height: 4rem;
  transform: rotate(180deg);
  position: relative;
}

img.icon {
  width: 50%;
  height: auto;
  transform: rotate(180deg);
}

div.details {
  width: 50%;
  height: 4rem;
}

div.details a {
  color: #030637;
  font-size: 0.75rem;
  width: 20%;
  gap: 0.5rem;
}

img.icons {
  width: 22%;
  height: auto;
}

/* Carousel */
.carousel-container {
  width: 100%;
  height: 80%;
  position: relative;
  overflow: hidden;
}

.carousel {
  background-image: linear-gradient(
    rgba(80, 196, 237, 0.3),
    rgba(80, 196, 237, 0.3)
  );
  width: 100%;
  height: 100%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  animation: zoomInOut 15s infinite alternate;
  display: flex;
  justify-content: center;
  z-index: 10000;
}

.carousel::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-image: linear-gradient(
    to right,
    rgba(47, 127, 146, 0.7),
    rgba(80, 196, 237, 0.7)
  );
  z-index: 10000;
}

.carousel img {
  z-index: -1;
}

.carousel-text {
  width: 50%;
  height: 30%;
  position: absolute;
  top: 25%;
  left: 25%;
  color: #fff;
  font-size: 4rem;
  z-index: 10000;
}

/* Hero */
.hero-container {
  width: 100%;
  height: 80%;
  position: relative;
  overflow: hidden;
  z-index: 10000;
}

.hero {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  background-image: url("../images/others/slide02.webp"),
    linear-gradient(to right, rgba(47, 127, 146, 0.7), rgba(80, 196, 237, 0.7));
  background-position: cover;
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  z-index: 10000;
}

.hero::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-image: linear-gradient(
    to right,
    rgba(47, 127, 146, 0.7),
    rgba(80, 196, 237, 0.7)
  );
  z-index: 10000;
}

.hero-text {
  width: 100%;
  height: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  bottom: 5%;
  left: 0;
  color: #fff;
  z-index: 10000;
}
.hero-text .text-container {
  height: 100%;
  width: 50%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.hero-text h2 {
  height: 15%;
  width: 50%;
  text-align: center;
}

div.wrapper h4 {
  color: #030637;
}

/* Wrapper */
div.wrapper {
  width: 100%;
  height: 100%;
}

/* Footer */
footer {
  background-image: url("../images/footer/footer.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  width: 100%;
  border-top: 8px double #fff;
}

footer h3 {
  width: 10rem;
}

footer div.social-container {
  display: none;
}

footer div.flex-column div,
footer div h5 {
  margin-bottom: 1rem;
}

/* Home Page */
/* About */
div.water-mark {
  z-index: -1;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  overflow: hidden;
  position: absolute;
  top: 0;
  left: 0;
}

div.about {
  display: flex;
  justify-content: center;
  align-items: center;
}

button.about-submit {
  background-color: #030637;
  padding: 1rem 2rem;
  text-align: center;
  color: #fff;
  border-radius: 15px;
  display: flex;
  margin: 0 auto;
  border: 0;
  outline: 0;
}

button.about-submit:hover {
  transform: scale(1.1, 1.1);
}

button.about-submit:focus {
  background-color: rgba(3, 6, 55, 0.8);
  transform: scale(1, 1);
  color: rgba(255, 255, 255, 0.8);
}

/* Services */
div.card.service .img-fluid {
  width: 100%;
  height: 100%;
}

div.card.service div.card-body {
  transition: background-size 0.7s ease, color 0.7s ease;
  background-image: linear-gradient(to bottom, #030637 100%, #030637 100%);
  background-size: 100% 0;
  background-repeat: no-repeat;
  background-position: bottom;
}

div.card.service p {
  height: 12rem;
}

div.card.service div.card-body:hover {
  background-size: 100% 100%;
  color: #fff;
}

div.card.service div.card-body img:hover {
  transform: scale(1.3, 1.3);
}

/* Sector */
section.sector {
  background-image: url("../images/others/counter-bg.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  width: 100%;
}

section.sector img.main-image {
  object-fit: cover;
}

section.sector div.card div.card-body p {
  height: 10rem;
}

/* Testimonials */
section.testimonials {
  background-image: url("../images/others/client-says-bg.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  width: 100%;
}

section.testimonials div.controls img {
  cursor: pointer;
}

section.testimonials div.testimonial-text {
  height: 12rem;
}

.slide.slide-in {
  animation: slideIn 0.5s ease forwards;
}

/* Counter */
section.counter p {
  height: 5rem;
}

/* Services Page */
/* Service01 */
section.services ul {
  list-style-type: square;
}

/* About Page */
/* About */
section.about-us div.card {
  background-color: #017cc0;
}

section.about-us div.card div.card-body p {
  height: 12rem;
}

/* Values */
section.values {
  background-image: url("../images/watermark/service-shape.png");
  background-color: #f6f6f6;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

section.values div.progress {
  background-color: rgba(0, 0, 0, 0.5);
  height: 0.2rem;
}

/* Contact Page */
/* Form */
section.form form button.form-button {
  background-color: #030637;
  background-color: #030637;
  padding: 1rem 2rem;
  text-align: center;
  color: #fff;
  border-radius: 15px;
  display: flex;
  margin: 0 auto;
  border: 0;
  outline: 0;
}

section.form form button.form-button:hover {
  transform: scale(1.1, 1.1);
}

section.form form button.form-button:focus {
  background-color: rgba(3, 6, 55, 0.8);
  transform: scale(1, 1);
  color: rgba(255, 255, 255, 0.8);
}
section.form form input,
section.form form textarea {
  background-color: #f5f5f5;
}

section.form form input:focus,
section.form form textarea:focus {
  outline: 1px solid #6c757d;
}

/* FAQ Page */
section.faq Accordion.Header.header {
  background-color: black;
}

/* Gallery Page */
section.gallery {
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.9);
}

section.gallery div.slider {
  width: 100%;
  height: 80%;
}

section.gallery div.slider img {
  width: 100%;
  display: flex;
  margin: 0 auto;
  object-fit: cover;
}

section.gallery div.thumbnail {
  width: 100%;
  overflow-x: scroll;
  overflow-y: hidden;
}

section.gallery div.thumbnail img {
  cursor: pointer;
  opacity: 0.5;
}

section.gallery div.thumbnail div.thumbnail-container img.active-thumbnail,
section.gallery div.thumbnail div.thumbnail-container img:hover {
  background-color: #000;
  opacity: 1;
}

::-webkit-scrollbar {
  width: 0;
  height: 0;
}

div.prev_image,
div.current_image,
div.next_image {
  cursor: pointer;
}
div.prev_image,
div.next_image {
  position: relative;
}

div.prev_image img.left-arrow,
div.next_image img.right-arrow {
  position: absolute;
  top: 50%;
  left: 0;
  right: 0;
}

div.prev_image,
div.next_image {
  opacity: 0.5;
}

@keyframes zoomInOut {
  0% {
    transform: scale(1, 1);
  }
  50% {
    transform: scale(1.5, 1.5);
  }
  100% {
    transform: scale(1, 1);
  }
}

@keyframes slideIn {
  0% {
    opacity: 0;
    transform: translateX(-100px);
  }
  100% {
    opacity: 1;
    transform: translateX(0);
  }
}

/* media queries */
@media only screen and (max-width: 799px) {
  header {
    display: none;
  }
  .carousel-container {
    height: 60%;
  }

  .carousel-text {
    width: 100%;
    height: 50%;
    top: 15%;
    left: 0;
    font-size: 2rem;
  }

  .hero-container {
    height: 60%;
  }
  .hero-text h2 {
    width: 90%;
  }

  div.water-mark {
    display: none;
  }

  section div.card.service p {
    height: 12rem;
  }

  section.sector div.card div.card-body p {
    height: 12rem;
  }

  section.about-us div.card div.card-body p {
    height: 12rem;
  }

  section.testimonials div.testimonial-text {
    height: 20rem;
  }

  footer div img.social {
    width: 10%;
  }

  footer div.social-container {
    display: inline-block;
    justify-content: center;
    align-items: center;
    gap: 2rem;
  }
}

@media only screen and (min-width: 800px) and (max-width: 992px) {
  header {
    display: none;
  }
  .carousel-container {
    width: 100%;
    height: 60%;
    position: relative;
    overflow: hidden;
  }

  .carousel-text {
    width: 70%;
    height: 70%;
    top: 20%;
    left: 15%;
    font-size: 4rem;
  }

  .hero-container {
    width: 100%;
    height: 60%;
    position: relative;
    overflow: hidden;
  }

  .hero-text h2 {
    width: 70%;
  }
  div.water-mark {
    display: none;
  }

  section div.card.service p {
    height: 11rem;
  }

  section.sector div.card div.card-body p {
    height: 11rem;
  }

  section.about-us div.card div.card-body p {
    height: 11rem;
  }

  footer div img.social {
    width: 5%;
  }

  footer div.social-container {
    display: inline-block;
    justify-content: center;
    align-items: center;
  }
}

@media only screen and (min-width: 1600px) {
  .carousel-container {
    height: 50%;
  }
  .carousel-text {
    top: 30%;
    left: 25%;
  }

  .hero-container {
    height: 50%;
  }
}
